@import url(css/reset.css);


@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

body {
    font-family: 'Poppins', sans-serif;
 
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    color: #E5E5E5;
}

.haupt__bild {
    background: url(img/haupt_bild.jpg) no-repeat center/cover;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    min-height: 600px;
   
}
[class*="__container"] {
    max-width: 1210px;
    margin: 0 auto;
   /* padding: 15px 15px 0px 15px; */
    /* padding-left: 15px;
    padding-right: 15px; */
  } 


.text__block {
    margin-top: 330px;
    display: inline-block;
}
.slaider__data {
    margin-bottom: 15px;

}

h1 {
    font-weight: 700;
font-size: 25px;
line-height: 40px;
/* or 160% */

}
.slaider__losung {
    color: #F8F9FA;
    max-width: 605px;
    margin-bottom: 15px;
}

.slaider__text {
    max-width: 499px;
}



[class*="__speaker"] {
    font-family: 'Inter', sans-serif;
    
}


.hauptbild__speaker {
    
    background: linear-gradient( 115deg, rgba(244, 247, 255, 0) 61%,
    rgba(48, 86, 211, 0.08) 62%, rgba(244, 247, 255, 0) 100% ),
    linear-gradient(115deg, rgba(244, 247, 255, 0) 68%, rgba(48, 86, 211, 0.08) 60%,
    rgba(244, 247, 255, 0) 100%), #f4f7ff; 


    
} 
/* .clearfix {
    overflow: auto;
} */
.section__speaker {
	max-width: 1140px;
    margin: 0 auto;
    padding:0 15px 0 15px;
    
  }
.text__img {
    margin-top: 145px;
    max-width: 560px;
    display: inline-block;
    /* text-align: left; */

}


.img__speaker {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 90px;
    width: 545px;
    text-align: right;

}

.akcia__speaker {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 13px;
    color: #3056D3;
}

.h2__speaker {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 15px;

    color: #212B36;
}

.text__speaker {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 35px;
    
    color: #637381;
    
}
.link__spaeker {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF; 
    padding: 10px 30px ;
    background: #3056D3;
    border-radius: 30px;
}





[class*="__list"] li{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
/* identical to box height, or 94% */


    color: #637381;
}

.unorderedlist {
    background: #FFFFFF;
}

.section {
    max-width: 1140px;
    margin: 0 auto;

    padding: 50px 15px;
    

}

.title__list {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    /* identical to box height, or 108% */
    margin-bottom: 40px;
    color: #212B36;
}

.mylist li {
    padding-left: 30px;
	min-height: 28px;
}

.mylist ul {
    margin-bottom: 30px;
    display: inline-block;
    width: 330px;
}
.punct__list li{
    
    background: url(img/ellipse.png) 0 8px / 8px no-repeat;

}

.checkblue__list li {
    background: url(img/group_b.png) 0 2px / 20px no-repeat;
}

.checkgreen__list li {
    background: url(img/group_g.png) 0 2px / 20px no-repeat;

}
.checkgred__list li {
    background: url(img/group_r.png) 0 2px / 20px no-repeat;
}
.vektor__list li {
    background: url(img/vector.png) 0 8px / 20px no-repeat;
}
.star__list li {
    background: url(img/group_z.png) 0 2px / 20px no-repeat;

}