@import url(css/reset.css);


@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

body {
    font-family: 'Poppins', sans-serif;
 
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    color: #E5E5E5;
}

.haupt__bild {
    background: url(img/haupt_bild.jpg) no-repeat center/cover;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    min-height: 600px;
   
}
[class*="__container"] {
    max-width: 1210px;
    margin: 0 auto;
  
    padding-left: 15px;
    padding-right: 15px;
  } 


.text__block {
    margin-top: 330px;
    display: inline-block;
}

.text__block > :not(:last-child) {
margin-bottom: 15px;
}
.slaider__data {
    /* margin-bottom: 15px; */

}

h1 {
    font-weight: 700;
font-size: 25px;
line-height: 40px;
/* or 160% */

}
.slaider__losung {
    color: #F8F9FA;
    max-width: 605px;
    /* margin-bottom: 15px; */
}

.slaider__text {
    max-width: 499px;
}



[class*="__speaker"] {
    font-family: 'Inter', sans-serif;
    
}


.hauptbild__speaker {
    
    background: linear-gradient( 115deg, rgba(244, 247, 255, 0) 61%,
    rgba(48, 86, 211, 0.08) 62%, rgba(244, 247, 255, 0) 100% ),
    linear-gradient(115deg, rgba(244, 247, 255, 0) 68%, rgba(48, 86, 211, 0.08) 60%,
    rgba(244, 247, 255, 0) 100%), #f4f7ff; 


    
} 
/* .clearfix {
    overflow: auto;
} */
.section__speaker {
	max-width: 1140px;
    margin: 0 auto;
    padding:0 15px 0 15px;
    
  }
.text__img {
    margin-top: 145px;
    max-width: 560px;
    display: inline-block;
    /* text-align: left; */

}

.text__img > :not(:last-child) {
    margin-bottom: 30px;
}


.img__speaker {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 90px;
    width: 545px;
    text-align: right;

}

.akcia__speaker {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* margin-bottom: 13px; */
    color: #3056D3;
}

.h2__speaker {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* margin-bottom: 15px; */

    color: #212B36;
}

.text__speaker {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* margin-bottom: 35px; */
    
    color: #637381;
    
}
.link__spaeker {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    color: #FFFFFF; 
    padding: 10px 30px ;
    background: #3056D3;
    border-radius: 30px;
}

.link__spaeker:hover {
    color: red;
    text-decoration: underline;
}




[class*="__list"] li{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
/* identical to box height, or 94% */


    color: #637381;
}

.unorderedlist {
    background: #FFFFFF;
}

.section {
    max-width: 1140px;
    margin: 0 auto;

    padding: 50px 15px;
    

}

.title__list {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    /* identical to box height, or 108% */
    margin-bottom: 40px;
    color: #212B36;
}

.mylist li {
    margin-left: 30px;
	min-height: 30px;
    
}

.mylist li::before {
    content: "";
    display: inline-block;
    margin-left: -30px;
    margin-right: 10px;
    width:  20px;
    height: 30px;
    
}

.mylist li:hover::before {
    transform: scale(1.5);
}

.mylist ul {
    margin-bottom: 30px;
    display: inline-block;
    width: 330px;
}
.punct__list li::before{
    
    background: url(img/ellipse.png) 0 18px / 8px no-repeat;

}

.checkblue__list li::before {
    background: url(img/group_b.png) 0 14px / 16px no-repeat;
}

.checkgreen__list li::before {
    background: url(img/group_g.png) 0 14px / 16px no-repeat;

}
.checkgred__list li::before {
    background: url(img/group_r.png) 0 14px / 16px no-repeat;
}
.vektor__list li::before {
    background: url(img/vector.png) 0 20px / 18px no-repeat;
}
.star__list li::before {
    background: url(img/group_z.png) 0 14px / 16px no-repeat;

}

.hovbef {
 font-style: italic;
 font-size: medium;
 color: #000;
 max-width: 1300px;
 margin: 20px auto;

   

}
.hb_span::before {
    content: "HI!";
    background-color: blueviolet;
    font-size: 35px;
    border-radius: 50%;
}
.hb_span:hover:before {
    color: aqua;
}
.hb_span::after {
    content: "BY!";
    background-color: rgb(107, 226, 43);
    font-size: 35px;
}
.hb_span:hover:after {
    background-color: cadetblue;
}